entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["postgresql"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ecommerce-server"

[[workflows.workflow]]
name = "ecommerce-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34523
externalPort = 5000

[[ports]]
localPort = 35597
externalPort = 4200

[[ports]]
localPort = 38431
externalPort = 3002

[[ports]]
localPort = 40591
externalPort = 3003

[[ports]]
localPort = 41507
externalPort = 3000

[[ports]]
localPort = 43401
externalPort = 3001
